{%extends 'base.html'%}
{%block title_block%}
<title>docter</title>
{%endblock%}
{%block body_block%}
{% load static %}

<link rel="stylesheet" href="{% static '/css/docter.css'%}">

<h1 class="text-center">Our docters</h1>
<hr>

{%for d in doctors%}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 75% ">
        <img src="{{d.doc_image.url}}" class=" card-img-top " alt="...">
        <div class="card-body p-5">
          <h5 class="card-title">Dr.{{d.doc_name}}</h5>
          <p class="card-text">{{d.doc_spec}}</p>
          <h6>{{d.dep_name}} Department</h6>
          
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
  </div>
</div>
<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

{%endfor%}




{%endblock%}